version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres-db
    environment:
      POSTGRES_DB: DeepShearch
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123456
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 10s
      timeout: 5s
      retries: 5

  spring-app:
    image: my-spring-app
    container_name: spring-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8082:8082"
    environment:
      - SERVER_PORT=8082
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/DeepShearch
      - SPRING_DATASOURCE_USERNAME=admin
      - SPRING_DATASOURCE_PASSWORD=123456
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - HOST_MAYAN_URL=http://mayan-app-1:80
      - HOST_MAYAN_USERNAME=admin 
      - HOST_MAYAN_PASSWORD=7kfQmyj95Y
      - KEYCLOAK_REALM=MyRealmDeepSearch
      - KEYCLOAK_AUTH_SERVER_URL=http://keycloak:8080/auth
      - KEYCLOAK_RESOURCE=backend-DeepSearch-service
      - KEYCLOAK_SECRET=789c4e5f-1234-5678-9abc-def012345678
      - SPRING_AI_OLLAMA_BASE_URL=http://ollama:11434
      - SPRING_AI_OLLAMA_CHAT_OPTIONS_MODEL=qwen3:1.7b
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network
    restart: always

volumes:
  postgres_data:
  mayan_data:

networks:
  app-network:
    external: true
